body {
    background: url("../../img/background.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.top {
    background-color: #157bb0;
    height: 40px;
    padding: 10px 0;
}

.top-left a,
.top-left {
    color: #fff;
}

.top-left a:hover {
    color: #fff;
    text-decoration: none;
}

.margin-top-20px {
    margin-top: 20px;
}

.panel {
    font-family: "Roboto";
}

.panel-heading {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


/**reset css**/

* {
    margin: 0;
}

body {
    font-family: Roboto;
    font-size: 16px;
}

#header {
    overflow: hidden;
    border: 1px solid #dbdbdb;
    min-height: 350px;
    margin: 0px auto;
}

#main {
    width: 95%;
    margin: 50px auto;
}

#footer {
    background: #000000ab;
    overflow: auto;
}