/**css by TDK**/

*{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background: #f5f5f5;
	font-family: "Open Sans", Tahoma;
	font-size: 14px;
}

/**#nav**/
#nav{
	background: #212121;
	padding: 9px 8%;
}
#nav ul li{
	display: inline-table;
	margin-right: 40px;
}
#nav ul li a{
	color:  #fff;
	text-transform: uppercase;
	font-weight: bold;
}
#nav ul li a:hover{
	color:  #ffff00;
}
/**#header**/
#header{
	padding-top: 50px;
	width: 100%;
	background: #fff;
	height: 80px;
} 
/*#logotext*/
#logotext{
	float: left;
	padding: 10px 0px 10px 50px;
	text-align: center;

}
#logotext h1 a{
	color:#f37423;
}
/**#menu**/
#menu{
	line-height: 5.8em;
	float: right;
}
#menu ul li{
	display: inline-table;
	margin-right: 40px;
}
#menu ul li a{
	color: #333;
	font-size: 16px;
}
#menu ul li a:hover{
	color: #f37423;
}/*Slider*/
#slider{
	width: 100%;
	padding: 20px 0px;
}
#slider .slide-items img{
	width: 100%;
	height: 350px;
}
/**#tabContent**/
#tabContent {
	width: 100%;
	background: #fff;
}

#tabContent ul{
	border-bottom: 2px solid  #333;
}
#tabContent ul li{
	display: inline-table;
	padding: 10px 8% 10px 8%;

}
#tabContent ul li a{
	color: #333;
	font-weight: bold;
	font-size: 16px;
}
#tabContent ul li a:hover{
	color: #f37423;
}

#tabContent .tab-images div{
	display: inline-table;
	padding-top: 20px;
	margin-right: 9%;
}
/*#content*/
#content{
width: 100%;
margin: 100px 0px;
}

/*#Main-content*/
#main-content{
	max-width: 68%;
	float: left;
	background: #Fff;
}
#main-content h1{
	background: #f37423;
	color:#fff;
	margin-bottom: 10px;
	padding: 8px;
}
#main-content .section{
	padding: 5px;
	height: 200px;
	margin-top: 10px;
	border-bottom: 1px solid #e2e2e2;

}
#main-content .section img{
	height: 200px;
	width: 300px;	
	float: left;
	margin-right: 10px;
}

#main-content .section .content-section{
	float: right;
	width:68%;

}
#main-content .section .content-section h3{
	margin-bottom: 10px;

}
#main-content .section .content-section h3 a{
	color: #333;
}
#main-content .section .content-section h4 a{
	color: #333;
}
#main-content .section .content-section h4 a:hover{
	color: #f37423;
}
#main-content .section .content-section h3 a:hover{
	color: #f37423;
}
#main-content .section .content-section .readmore{
	font-weight: bold;
	width: 90px;
    float: right;
    padding: 8px;	
    background: #f37423;

}
#main-content .section .content-section .readmore a{
	color: #fff;
	font-weight: bold;
	display: block;
}
/*#sidebar*/
#sidebar{
	width: 30%;
	float: right;

}
#sidebar > h3{
	background: #f37423;
    color: #fff;
    margin-bottom: 10px;
    padding: 8px;

}
#sidebar .item{
	border-bottom: 1px solid #dbdbdb;
	padding: 8px;
	overflow: hidden;
}
#sidebar .item .image-item{
	width: 85px;
}
#sidebar .item .image-item img{
	width: 80px;
	height: 80px;
	float: left;
	margin-right: 5px
}
#sidebar .item h3{
	float: right;
	width:80%;
}
/*#footer*/
#footer{
		clear: both;
		background: #EFEFEF;
}
#footer .row{
	display: flex;
	justify-content: space-between;
}
#footer .row .col-footer{
	max-width: 30%;
}
#footer .row .col-footer h3{
	color: #f37423;
	padding: 8px 5px;
	border-bottom: 1px solid orange;
	margin-bottom: 10px;

}
#footer .row .col-footer ul li a{
	color: #333;

}
#footer .row .col-footer ul li a{
	color: #333;

}
#footer .row .col-footer ul li a:hover{
	color: orange;
}
#footer .row .col-footer .image-footer {
	overflow: hidden;
	margin-bottom: 10px;
}
#footer .row .col-footer .image-footer a {
	overflow: hidden;
	width: 50px;
	
}
#footer .row .col-footer .image-footer a img{
	
	width: 50px;
	height: 50px;
	float: left;
}
#footer .row .col-footer .image-footer p a{
	
	width: 87%;
	height: 50px;
	float: right;
}

/*#page-info*/
#page-info {
	
	background: #212121;
	padding:10px;
	overflow: hidden;
}
#page-info .copy-right{
	float: left;
	line-height: 2.8em;
}
#page-info .copy-right p{
	color: #fff;

}
#page-info .copy-right p a{
	color: orange;
	font-weight: bold;
}
#page-info .copy-right p a:hover{
	color: #fff;
}
#page-info .social {
	float: right;
}
#page-info .social ul li{
	display: inline-table;
}
#page-info .social ul li a img{
	width: 32px;
	height: 32px
}